@import url('https://fonts.googleapis.com/css2?family=Radley&display=swap');
@import url('https://fonts.cdnfonts.com/css/kapakana');              
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;700&family=Kalam:wght@300;400;700&display=swap');
*{
    padding: 0;
    margin: 0;
}

.packages{
    background: linear-gradient(180deg, #906644 0%, #988C84 100%);
    display: flex;
    justify-content: space-between;
    width: 1349px;
    height: auto;


}
.buffet{
    position: relative;
    width:1349px;
    height: 500px; 
    
    
}

.buffet img{
    width: 100%;
    height: 100%;
}

.text-overlay{
    width: 1009px;
    position: absolute;
    top: 60%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    color: rgb(17, 15, 15); 
    font-size: 200px;
    font-weight: lighter;
    font-family: kapakana;
    z-index: 1;

}

.package1,.package2,.package3{
  background-color: #946944;
  width: 250px;
  height: 545px;
  flex-shrink: 0; 
  margin: 20px 20px;
  border-radius: 10px;
  padding: 10px 20px;
}
.package1{
    margin-left: 50px;
}
.package3{
    margin-right: 50px;
}
.package2{
    margin-left: 30px;
}

.package1 img,.package2 img,.package3 img{
    width: 150px;
    margin-top: 20px;
}


ul {
    list-style-type: none;
}

.top-elements{
    margin-bottom: 10px;
    padding: 10px 10px;
    text-align: center;
}

.package-title{
    color: white;
    font-family: kapakana;
    font-weight: 300;
    font-size: 40px;
}

.services{
color: #FFF;
font-family: kalam;
font-size: 15px;
font-style: normal;
line-height: 1.5;
}
.amount{
    font-size: x-large;
   
    font-family: Radley;
}

.bottom-elements{
    padding: 2px 2px;
    margin-top: 50px;

}
.icon{
    margin: 2px 2px;
}

.package3 img{
    margin-bottom: 30px;
    width: 199px;
    margin-top: 1px;
}
.package2 img{
    width: 190;
    margin-top: 5px;
}
.package1 img{
    margin-bottom: 5px;
    margin-top: -30px;
}

.services li{
    margin-bottom: 20px;
}
.rect{
    width: 150px;
    height: 45px;
    background: #4E2D18;
    position: absolute;
    bottom: -448px;
    margin-left: 50px;
    border-radius: 6px;

}
hr{
    background: black;
    border: 1px solid black;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(78, 16, 16, 0.5);
  }
